/*
*
* Base16 {{scheme-name}}
* Author: {{scheme-author}}
*
*/

@define-color bg01 #{{base00-hex}};
@define-color surface1 #{{base01-hex}};
@define-color surface2 #{{base02-hex}};
@define-color bg02 #{{base03-hex}};
@define-color surface3 #{{base04-hex}};
@define-color text #{{base05-hex}};
@define-color surface4 #{{base06-hex}};
@define-color white #{{base07-hex}};
@define-color red #{{base08-hex}};
@define-color accent1 #{{base09-hex}};
@define-color yellow #{{base0A-hex}};
@define-color green #{{base0B-hex}};
@define-color cyan #{{base0C-hex}};
@define-color blue #{{base0D-hex}};
@define-color magneta #{{base0E-hex}};
@define-color accent2 #{{base0F-hex}};
