      local colors = {
        bg = "#{{base00-hex}}",
        fg = "#{{base05-hex}}",
        yellow = "#{{base0A-hex}}",
        cyan = "#{{base0C-hex}}",
        darkblue = "#{{base0D-hex}}",
        green = "#{{base0B-hex}}",
        orange = "#{{base09-hex}}",
        violet = "#{{base0F-hex}}",
        magenta = "#{{base0E-hex}}",
        blue = "#{{base0D-hex}}",
        red = "#{{base08-hex}}",
      }
