[color]
background = '#{{base00-hex}}'

gradient = 1

gradient_color_1 = '#{{base0F-hex}}'
gradient_color_2 = '#{{base0F-hex}}'
gradient_color_3 = '#{{base0F-hex}}'
gradient_color_4 = '#{{base0F-hex}}'
gradient_color_5 = '#{{base0F-hex}}'
gradient_color_6 = '#{{base0F-hex}}'
gradient_color_7 = '#{{base0F-hex}}'
gradient_color_8 = '#{{base0F-hex}}'
