/*
*
* Base16 {{scheme-name}}
* Author: {{scheme-author}}
*
*/

$bg01: #{{base00-hex}};
$surface1: #{{base01-hex}};
$surface2: #{{base02-hex}};
$bg02: #{{base03-hex}};
$surface3: #{{base04-hex}};
$text: #{{base05-hex}};
$surface4: #{{base06-hex}};
$white: #{{base07-hex}};
$red: #{{base08-hex}};
$accent1: #{{base09-hex}};
$yellow: #{{base0A-hex}};
$green: #{{base0B-hex}};
$cyan: #{{base0C-hex}};
$blue: #{{base0D-hex}};
$magneta: #{{base0E-hex}};
$accent2: #{{base0F-hex}};
